In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('aggregated_data.csv')
data = data.drop(columns=['Unnamed: 0'])

In [47]:
# Display the first few rows of the aggregated DataFrame
def queryfisherie(df,PrincipalName,WichZone): 
    Consult = df[df['NombrePrincipal']==PrincipalName]
    Consult = Consult[Consult['Zone']==WichZone]
    return Consult

In [48]:
dfs = {}
for zona in range(1, 12):  
    dfs[f'df_z{zona}'] = data[data['Zone'] == zona]

In [49]:
def IIR(df):
    # Calculating global totals
    total_peso_vivo = df['PesoVivo'].sum()
    total_valor = df['Valor'].sum()
    total_frecuencia = df['Frecuencia'].sum()

    # Grouping by 'NombrePrincipal' and calculating totals for each group
    grouped = df.groupby('NombrePrincipal').sum()

    # Calculating V, C, and F
    grouped['V'] = grouped['PesoVivo'] / total_peso_vivo
    grouped['C'] = grouped['Valor'] / total_valor
    grouped['F'] = grouped['Frecuencia'] / total_frecuencia

    # Calculating IIR
    grouped['IIR'] = (grouped['V'] + grouped['C'] + grouped['F'])*100 / 3

    return grouped[['IIR']]

In [64]:
IIR_results = {}

for key, df in dfs.items():
    IIR_temp = IIR(df).sort_values(by='IIR', ascending=False)
    IIR_temp['Cum_Sum_IIR'] = IIR_temp['IIR'].cumsum()
    IIR_results[key] = IIR_temp

C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()
C:\Users\ricar\AppData\Local\Temp\ipykernel_4804\317988889.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped = df.groupby('NombrePrincipal').sum()

In [65]:
IIR_results['df_z2']

                        IIR  Cum_Sum_IIR
NombrePrincipal
ALMEJA            51.735448    51.735448
LANGOSTA           8.320441    60.055889
OTRAS              6.051715    66.107604
SARDINA            5.990399    72.098003
CABRILLA           3.814243    75.912245
TIBURON            2.965247    78.877492
RAYA Y SIMILARES   2.892093    81.769586
PULPO              2.880232    84.649817
JAIBA              2.652380    87.302197
CALAMAR            2.335505    89.637702
LISA               1.756968    91.394669
CORVINA            1.507596    92.902266
BERRUGATA          1.167870    94.070135
OSTION             1.109938    95.180073
LENGUADO           1.092101    96.272174
CAZON              0.754603    97.026777
RONCO              0.590468    97.617245
MERO               0.490486    98.107731
JUREL              0.477828    98.585559
PAMPANO            0.349072    98.934631
MACARELA           0.324416    99.259047
MOJARRA            0.227632    99.486678
SIERRA             0.151387    99.638065
CAMARON            0.132486    99.770552
PIERNA             0.057870    99.828422
PARGO              0.047179    99.875601
BAQUETA            0.046455    99.922056
GUACHINANGO        0.028490    99.950546
ABULON             0.015993    99.966539
BONITO             0.010954    99.977493
ROBALO             0.008908    99.986401
ALGAS              0.007322    99.993722
BARRILETE          0.005550    99.999273
BANDERA            0.000727   100.000000